doctype html
html
    head
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        .form-wrapper
            p Sim Rig: #{name}
            form(method="POST")
                label(for="name") Name
                input(type="text" name="name" required)
                label(for="wheelbase") Wheelbase
                input(type="text" name="wheelbase" required)
                label(for="wheelbase") Wheel
                input(type="text" name="wheel" required)
                label(for="wheelbase") Pedals
                input(type="text" name="pedals" required)
                input(type="submit" value="Submit")
    a(href="/") Return to the homepage